.navbar{
    color: white;

    .container{
        padding: 0 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4.5rem;

        .left{
            display: flex;
            align-items: center;
           
            img{
                height: 30px;
                margin-right: 2.5rem;
            }
           
            span{
                margin-right:1.5rem;
            }
        }

        .right{
            display: flex;
            align-items: center;
             img{
                height: 30px;
                width: 30px;
                border-radius: .5rem;
                object-fit: cover;
                cursor: pointer;
             }
             .icon{
                margin: 0 1rem;
                cursor: pointer;
             }

             .profile{
              
                .options{
                    display: none;
                    background-color: var(--main-color);
                    border-radius: .5rem;
                }

                span{
                    padding: .8rem;
                    cursor: pointer;
                }

                &:hover{
                    .options{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                    }
                }
             }
        }

        
    }
}